{% extends 'base.html' %}
{% block content %}

<h1>About the Plant Minder</h1>
<hr />

<p>Taking care of your plants can be hard. <br><br> 
    Say good-bye to dead plants, and hello to healthy, happy plants. <br><br>
    With so many different types of plants out there it's hard to keep track of which plant needs lots of attention versus the ones that are
    happy left alone. <br><br> 
    Using Plant Minder, keep track of all of your leafy friends - monitor who needs lots of sunshine, little water, etc.
</p>

{% endblock %}